[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/mFAST"]
	path = extern/mFAST
	url = https://github.com/objectcomputing/mFAST.git
[submodule "extern/quickfix"]
	path = extern/quickfix
	url = https://github.com/quickfix/quickfix.git
